body {
    background: radial-gradient(circle, #8E44AD, #2ECC71);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h1 {
    font-family: Verdana;
    font-size: 40px;
    color: rgb(74, 35, 90);
    padding-top: 30px;
    padding-bottom: 15px;
}

div {
    margin-bottom: 15px;
}

.flex-container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 500px;
    height: 450px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 14px 16px rgba(74, 35, 90, 0.4);
    position: relative;
}

label {
    color: rgb(74, 35, 90);
    font-family: Verdana;
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    margin-top: 25px;
    width: 350px;
    height: 45px;
    background-color: rgb(74, 35, 90);
    color: white;
    font-family: Verdana;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

button:active {
    box-shadow: 0 0 15px 10px #8E44AD;
}

.circle {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(74, 35, 90);
    display: flex;
    top: -50px;
    z-index: 10;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}




