@page "/Success"


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Success Page</title>
	<link rel="stylesheet" href="successStyleSheet.css">
</head>

<div class="flex-container">
	<div class="rectangle1">
		<h1>Welcome!</h1>
	</div>

	<div class="rectangle2">
		<span>Thank You for joining our website!</span>
	</div>

	<div class="rectangle3">
		<span>User has been successfully created!</span>
	</div>
	<div>
		<img src="img/greenleaves.png">
	</div>

</div>


@code {

}
